@model Guid

<div class="container row pt-4 offset-3 col-6">
    <div class="col-12 text-center">
        <h1 class="text-success text-center">Order Placed Successfully!</h1>
        Your Order Number is : @Model <br /><br />
        <img src="~/images/lawn_leaf.jpg" width="100" height="100" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed successfully! <br />
    </div>
    <div class="row">
        <div class="offset-3 col-6 mt-5">
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success rounded shadow bg-gradient w-100 py-2">Back to Home Page</a>
        </div>
    </div>

</div> 