
<section class="container-fluid bg-success">
    <div class="row align-items-center">
        <div class="col-md-7 text-white">
            <h1>About Us</h1>
            <ul class="pt-3">
                <li>At Vuson, we are dedicated to delivering exceptional services to our valued customers. With a strong commitment to excellence, we offer a range of services to meet your needs.</li>
                <li>From efficient and reliable delivery services to make sure your products reach you on time, to our seamless shipping and return process that ensures your satisfaction, we're here to make your life easier.</li>
                <li>Our dedication to customer satisfaction is further underscored by our commitment to offering special discounts to our loyal customers.</li>
                <li>We take pride in our manufacturing process, ensuring that our products are crafted with precision and quality.</li>
                <li>With years of experience and a passion for what we do, we are your trusted partner in meeting your needs.</li>
                <li>Choose Vuson for a seamless experience and let us take care of your requirements.</li>
            </ul>
        </div>
        <div class="col-md-5">
            <img src="~/images/home/about-us.svg" alt="About Hero">
        </div>
    </div>
</section>


<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Our Services</h1>
            <p>
                We are dedicated to delivering exceptional services to our valued customers
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="bi bi-truck"></i></div>
                <h2 class="h5 mt-4 text-center">Delivery Services</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="bi bi-arrow-left-right"></i></div>
                <h2 class="h5 mt-4 text-center">Shipping & Return</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="bi bi-percent"></i></div>
                <h2 class="h5 mt-4 text-center">Discount</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="bi bi-award-fill"></i></div>
                <h2 class="h5 mt-4 text-center">Manufacture</h2>
            </div>
        </div>
    </div>
</section> 