@{
    ViewData["Title"] = "Contact Page";
}

<section>
    <div class="card shadow border-0 mt-4 mb-4 rounded">
        <div class="card-header bg-info bg-gradient text-light py-4 rounded">
            <div class="row">
                <h2><span class="mt-4 text-bg-danger">Contact Us</span></h2>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                <div class="row">
                    <h2><span class="mt-4 text-bg-danger">Contact Us</span></h2>
                </div>
            </div>
            <div class="py-3">
                <div class="row">
                    <h2><span class="mt-4 text-bg-danger">Contact Us</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
