@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Password Reset";
}

@if (ViewBag.status == "success")
{
    <div class="offset-3 col-6">
        <div class="container row renderCard text-lg-center">
            <div class="col-12">
                <h3 class="text-primary">Link successfully sent!</h3>
                <br /><br />
                <img src="~/images/success.jpg" width="100" height="100" />
            </div>
            <div class="col-12" style="color:maroon">
                <br />
                A link to change your password has been send to your mail address. <br />
            </div>
        </div>
    </div>
}
else
{
    <div class="renderCard">
        <div class="card shadow border-0 rounded offset-3 col-6">
            <div class="card-header">
                <div class="row mt-2 text-center">
                    <h2 class="text-info">Reset Password</h2>
                </div>
                <div class="row">
                    <p class="alert alert-warning p-2 border-0">
                        Please enter the email you signed up, and we will send you a reset link.
                    </p>
                </div>
            </div>
            <div class="card-body p-0">
                <form method="post">
                    <div class="border p-3">
                        <div class="row">
                            <div class="form-floating py-2 col-12 mb-3">
                                <input id="emailInput" asp-for="Email" class="form-control border-0" />
                                <label asp-for="Email" class="ms-0"></label>
                                <span asp-validation-for="Email" class="text-danger mt-2"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-4 col-4">
                                <button id="submitButton" type="submit" class="form-control btn btn-info shadow rounded">Send Email</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />

        // <script src="~/js/account.js"></script>
    }
}
