@model ResetPasswordConfirmViewModel

@{
    ViewData["Title"] = "Reset Password";
}

@if (ViewBag.status == "success")
{
    <div class="row">
        <div class="col-4 offset-4">
            <p class="alert alert-success">
               Your password changed successfully. you can login with your new password
            </p>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-4 offset-4">
            <h3 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h3>
            <p class="alert alert-info">
                Enter your new password in the box below
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4 offset-4">
            <form method="post">
                <input asp-for="UserId" hidden />
                <input asp-for="Token" hidden />
                <div class="form-group mt-2">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="ConfirmNewPassword" class="control-label"></label>
                    <input asp-for="ConfirmNewPassword" class="form-control" />
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Create New Password" class="btn btn-primary col-6" />
                </div>
            </form>
        </div>
    </div>
}


