@model ResetPasswordConfirmViewModel

@{
    ViewData["Title"] = "Reset Password";
}

@if (ViewBag.status == "success")
{
    <div class="row">
        <div class="col-4 offset-4">
            <p class="alert alert-success">
                Your password changed successfully. you can login with your new password
            </p>
        </div>
    </div>
}
else
{
    <div class="card shadow border-0 rounded mt-4 p-0 offset-3 col-6">
        <div class="card-header">
            <div class="row mt-2 text-center">
                <h2 class="text-info">Reset Password</h2>
            </div>
            <div class="row">
                <p class="alert alert-info p-2 border-0">
                    Enter your new password in the box below
                </p>
            </div>
        </div>
        <div class="card-body p-0">
            <form method="post">
                <input asp-for="UserId" hidden />
                <input asp-for="Token" hidden />
                <div class="border p-3">
                    <div class="row">
                        <div class="form-floating py-2 col-12 mb-3">
                            <input id="emailInput" asp-for="NewPassword" class="form-control border-0 shadow" />
                            <label asp-for="NewPassword" class="ms-0"></label>
                            <span asp-validation-for="NewPassword" class="text-danger mt-2"></span>
                        </div>
                        <div class="form-floating py-2 col-12 mb-3">
                            <input id="emailInput" asp-for="ConfirmNewPassword" class="form-control border-0 shadow" />
                            <label asp-for="ConfirmNewPassword" class="ms-0"></label>
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger mt-2"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-3 col-6">
                            <button type="submit" class="form-control btn btn-info shadow rounded">Create New Password</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
}

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" /> 
    }
}


