@model CategoryViewModel

@{
    ViewData["Title"] = "Delete Category";
}

<div class="card shadow border-0 rounded offset-2 col-8 mt-4 p-0">
    <div class="card-header">
        <div class="row mt-2 text-center">
            <h2 class="text-danger">Delete Category</h2>
        </div>
    </div>
    <div class="card-body p-0">
        <form method="post" asp-controller="Category" asp-action="Delete">
            <div class="border p-3">
                <div class="form-floating py-2 col-12 mb-3">
                    <input asp-for="Id" class="form-control border-0 shadow rounded" disabled/>
                    <label asp-for="Id" class="ms-0"></label>
                    <span asp-validation-for="Id" class="text-danger mt-2"></span>
                </div>
                <div class="form-floating py-2 col-12 mb-3">
                    <input asp-for="Name" class="form-control border-0 shadow rounded" disabled/>
                    <label asp-for="Name" class="ms-0"></label>
                    <span asp-validation-for="Name" class="text-danger mt-2"></span>
                </div>
                <div class="form-floating py-2 col-12 mb-3">
                    <input asp-for="DisplayOrder" class="form-control border-0 shadow rounded" disabled/>
                    <label asp-for="DisplayOrder" class="ms-0"></label>
                    <span asp-validation-for="DisplayOrder" class="text-danger mt-2"></span>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <button type="submit" class="form-control btn btn-outline-danger shadow">Confirm Delete</button>
                    </div>
                    <div class="col-6">
                        <a asp-controller="Category" asp-action="Index" class="form-control btn btn-outline-secondary shadow">Back To List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

