@model CategoryViewModel

@{
    ViewData["Title"] = "Edit Category";
}

<div class="renderCard">
    <div class="card shadow border-0 rounded offset-1 col-10">
        <div class="card-header">
            <div class="row p-3">
                <h2 class="text-info">Edit Category</h2>
            </div>
        </div>
        <div class="card-body p-0">
            <form method="post" asp-controller="Category" asp-action="Edit" enctype="multipart/form-data">
                <input asp-for="ImageUrl" hidden />
                <input asp-for="Id" hidden />
                <div class="row">
                    <div class="col-9">
                        <div class="border p-3">

                            <partial name="_CreateUpdateCategoryForm" data="@Model" />

                            <div class="row mt-4">
                                <div class="col-6">
                                    <button type="submit" class="form-control btn btn-warning shadow">Update</button>
                                </div>
                                <div class="col-6">
                                    <a asp-controller="Category" asp-action="Index" class="form-control btn btn-outline-secondary shadow">Back To List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <img class="p-3" src="~/@Model.ImageUrl"
                             style="width:100%; border-radius:5px; border:1px solid #ffffff" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}