@model IEnumerable<Category>

@{
    ViewData["Title"] = "Category List";
}

<div class="container">
    <div class="card shadow border-0 rounded mt-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <h2 class="text-info py-2">Category List</h2>
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="Category" asp-action="Create" class="btn btn-outline-info shadow rounded">
                        <i class="bi bi-plus-circle"></i> Create New Category
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tblCategory" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Category Id</th>
                            <th>Category Name</th>
                            <th>Category Description</th>
                            <th>Display Order</th>
                            <th>Edit / Delete</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/category.js"></script>
}