@{
    ViewData["Title"] = "Access Denied";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <h1 class="text-danger text-center"><i class="fa-solid fa-ban fa-3x"></i></h1>
        <br />
        <h3 class="text-center">You do not have access to this page</h3>
        <p class="text-center">@ViewBag.message</p>
    </div>
</div>