
<footer class="m-0 p-0">
    <div class="container-fluid">
        <div class="row">

            <div class="col-2 offset-1 pt-5 pb-5">
                <h3 id="footerHeader"><b>Sale Markt</b></h3>
                <ul class="pt-3">
                    <li>
                        <i class="bi bi-geo-alt-fill"></i>
                        Barbaros Bulvarı Beşiktaş/Istanbul
                    </li>
                    <li>
                        <i class="bi bi-telephone"></i>
                        0212-212-12-12
                    </li>
                    <li>
                        <i class="bi bi-envelope"></i>
                        info@salemarkt.com
                    </li>
                </ul>
            </div>

            <div class="col-2 offset-2 pt-5 pb-5">
                <h3 id="footerHeader">Products</h3>
                <ul class="pt-1">
                    <li><a class="text-decoration-none">Luxury</a></li>
                    <li><a class="text-decoration-none">Sport Wear</a></li>
                    <li><a class="text-decoration-none">Men's Shoes</a></li>
                    <li><a class="text-decoration-none">Women's Shoes</a></li>
                    <li><a class="text-decoration-none">Popular Dress</a></li>
                </ul>
            </div>

            <div class="col-2 offset-2 pt-5 pb-5">
                <h3 id="footerHeader">Links</h3>
                <ul class="pt-1">
                    <li><a class="text-decoration-none">Home</a></li>
                    <li><a class="text-decoration-none">About Us</a></li>
                    <li><a class="text-decoration-none">Shop Locations</a></li>
                    <li><a class="text-decoration-none">FAQs</a></li>
                    <li><a class="text-decoration-none">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-100 bg-black">
        <div class="container-fluid">
            <div class="row pt-2 offset-1">
                <p id="footerBottom">
                    Copyright &copy; 2023 Sale Markt
                    | Designed by <a id="footerBottom" rel="sponsored" href="https://onrdrmn.com" target="_blank">onrdrmn</a>
                </p>
            </div>
        </div>
    </div>
</footer> 