<!-- Start Footer -->
<footer style="background-color: #0e2f48" class="pb-5">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h3 text-secondary border-bottom border-dark pb-3"><b>Sale Markt</b></h2>
                <ul>
                    <li>
                        <i class="bi bi-geo-alt-fill"></i>
                        Barbaros Bulvarı Beşiktaş/Istanbul
                    </li>
                    <li>
                        <i class="bi bi-telephone"></i>
                        0212-212-12-12
                    </li>
                    <li>
                        <i class="bi bi-envelope"></i>
                        info@salemarkt.com
                    </li>  
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h3 text-secondary border-bottom pb-3 border-dark">Products</h2>
                <ul>
                    <li><a class="text-decoration-none text-secondary" href="#">Luxury</a></li>
                    <li><a class="text-decoration-none text-secondary" href="#">Sport Wear</a></li>
                    <li><a class="text-decoration-none text-secondary" href="#">Men's Shoes</a></li>
                    <li><a class="text-decoration-none text-secondary" href="#">Women's Shoes</a></li>
                    <li><a class="text-decoration-none text-secondary" href="#">Popular Dress</a></li>
                    <li><a class="text-decoration-none text-secondary" href="#">Gym Accessories</a></li>
                    <li><a class="text-decoration-none text-secondary" href="#">Sport Shoes</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h3 text-secondary border-bottom pb-3 border-dark">Further Info</h2>
                <ul>
                    <li><a class="text-decoration-none text-secondary" href="#">Home</a></li>
                    <li><a class="text-decoration-none text-secondary" href="#">About Us</a></li>
                    <li><a class="text-decoration-none text-secondary" href="#">Shop Locations</a></li>
                    <li><a class="text-decoration-none text-secondary" href="#">FAQs</a></li>
                    <li><a class="text-decoration-none text-secondary" href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->