<!-- Start Footer -->
<footer style="background-color: #0e2f48" class="m-0 p-0">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5 pb-5">
                <h3 class="text-secondary border-bottom border-dark pb-3"><b>Sale Markt Info</b></h3>
                <ul>
                    <li class="text-light">
                        <i class="bi bi-geo-alt-fill"></i>
                        Barbaros Bulvarı Beşiktaş/Istanbul
                    </li>
                    <li class="text-light">
                        <i class="bi bi-telephone"></i>
                        0212-212-12-12
                    </li>
                    <li class="text-light">
                        <i class="bi bi-envelope"></i>
                        info@salemarkt.com
                    </li>  
                </ul>
            </div>

            <div class="col-md-4 pt-5 pb-5">
                <h3 class="text-secondary border-bottom pb-3 border-dark">Products</h3>
                <ul>
                    <li><a class="text-decoration-none text-light" href="#">Luxury</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Sport Wear</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Men's Shoes</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Women's Shoes</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Popular Dress</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5 pb-5">
                <h3 class="text-secondary border-bottom pb-3 border-dark">Further Info</h3>
                <ul>
                    <li><a class="text-decoration-none text-light" href="#">Home</a></li>
                    <li><a class="text-decoration-none text-light" href="#">About Us</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Shop Locations</a></li>
                    <li><a class="text-decoration-none text-light" href="#">FAQs</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->