
<footer class="m-0 p-0">
    <div class="container-fluid">
        <div class="row">

            <div class="pt-5"></div>

            <div class="col-2 offset-1 pt-5 pb-5">
                <h3 id="footerHeader"><b>Vuson Moda</b></h3>
                <ul class="pt-3 list-unstyled">
                    <li>
                        <i class="bi bi-geo-alt-fill"></i>
                        Barbaros Bulvarı Beşiktaş/Istanbul
                    </li>
                    <li>
                        <i class="bi bi-telephone"></i>
                        0212-212-12-12
                    </li>
                    <li>
                        <i class="bi bi-envelope"></i>
                        info@vuson.com
                    </li>
                </ul>
            </div>

            <div class="col-2 offset-2 pt-5 pb-5">
                <h3 id="footerHeader">Products</h3>
                <ul class="pt-1 list-unstyled">
                    <li><a class="text-decoration-none list-unstyled">Luxury</a></li>
                    <li><a class="text-decoration-none">Sport Wear</a></li>
                    <li><a class="text-decoration-none">Men's Shoes</a></li>
                    <li><a class="text-decoration-none">Women's Shoes</a></li>
                    <li><a class="text-decoration-none">Popular Dress</a></li>
                </ul>
            </div>

            <div class="col-2 offset-2 pt-5 pb-5">
                <h3 id="footerHeader">Links</h3>
                <ul class="pt-1 list-unstyled">
                    <li><a class="text-decoration-none">Home</a></li>
                    <li><a class="text-decoration-none">About Us</a></li>
                    <li><a class="text-decoration-none">Shop Locations</a></li>
                    <li><a class="text-decoration-none">FAQs</a></li>
                    <li><a class="text-decoration-none">Contact</a></li>
                </ul>
            </div>

            <div class="pt-5"></div>

        </div>
    </div>
    <div class="container-fluid bg-black py-3">
        <div class="row pt-2">
            <p id="footerBottom">
                Copyright &copy; 2023 Vuson Moda Designed by 
                    <a class="text-reset" rel="sponsored" href="https://onrdrmn.com" target="_blank">Onur Derman</a>
            </p>
        </div>
    </div>
</footer> 