@model ProductViewModel
@inject ICategoryRepository _categoryRepo

@{
    ViewData["Title"] = "Product Category";
    var allCategories = await _categoryRepo.GetAllAsync(c => true);
}

<div class="card shadow border-0 rounded mt-4 p-0">
    <div class="card-header">
        <div class="row mt-2 text-center">
            <h2 class="text-info">Create Product</h2>
        </div>
    </div>
    <div class="card-body p-0">
        <form method="post" asp-controller="Product" asp-action="Create" enctype="multipart/form-data">
            <div class="border p-3">

                <partial name="_CreateUpdateProductForm" data="@Model" />

                <div class="row mt-4">
                    <div class="col-6">
                        <button type="submit" class="form-control btn btn-outline-info shadow">Create</button>
                    </div>
                    <div class="col-6">
                        <a asp-controller="Product" asp-action="Index" class="form-control btn btn-outline-secondary shadow">Back To List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
