@model IEnumerable<Product>
@inject DataAccess.Repositories.Abstract.ICategoryRepository _categoryRepo

@{
    ViewData["Title"] = "Product List";
}

<div class="container">
    <div class="card shadow border-0 rounded mt-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6 text-end">
                    <h2 class="text-info py-2">Product List</h2>
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="Product" asp-action="Create" class="btn btn-outline-info shadow rounded" >
                        <i class="bi bi-plus-circle"></i> Create New Product
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body"> 
            <div class="table-responsive">
                <table id="tblProduct" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Author</th>
                            <th>List Price</th>
                            <th>Price 50+</th>
                            <th>Price 100+</th>
                            <th>Category</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div> 

@section Scripts{
    <script src="~/js/product.js"></script>
}