@model IEnumerable<Product>
@inject DataAccess.Repositories.Abstract.ICategoryRepository _categoryRepo

@{
    ViewData["Title"] = "Product List";
}

<div class="container">
    <div class="card shadow border-0 rounded mt-4">
        <div class="card-header">
            <div class="row">
                <div class="text-center">
                    <h2 class="text-info py-2">Product List</h2>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row pb-3">
                <div class="text-end">
                    <a asp-controller="Product" asp-action="Create" class="btn btn-outline-info shadow">
                        <i class="bi bi-plus-circle"></i> Create New Product
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table id="tblData" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>ISBN</th>
                            <th>Author</th>
                            <th>List Price</th>
                            <th>Category</th>
                            <th></th>
                        </tr>

                    @*<td>
                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id"
                           class="btn btn-sm btn-outline-warning shadow">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id"
                           class="btn btn-sm btn-outline-danger shadow">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>*@
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div> 

@section Scripts{
    <script src="~/js/product.js"></script>
 }